In [1]:
import pandas as pd

In [2]:
orders_raw = pd.read_csv('orders.csv')
orders_raw.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_count,order_date
0,2539329,1,prior,1,7,8,-1.0,5.0,2016-01-17
1,2398795,1,prior,2,1,7,15.0,6.0,2016-02-01
2,473747,1,prior,3,1,12,21.0,5.0,2016-02-22
3,2254736,1,prior,4,2,7,29.0,5.0,2016-03-22
4,431534,1,prior,5,2,15,28.0,8.0,2016-04-19

In [5]:
orders=orders_raw.drop(['order_id','eval_set','order_number'],axis=1)
orders.head()

,user_id,order_dow,order_hour_of_day,days_since_prior_order,product_count,order_date
0,1,7,8,-1.0,5.0,2016-01-17
1,1,1,7,15.0,6.0,2016-02-01
2,1,1,12,21.0,5.0,2016-02-22
3,1,2,7,29.0,5.0,2016-03-22
4,1,2,15,28.0,8.0,2016-04-19